{% extends 'base/base.html' %} {% block content %}
<main class="news">
  <div class="container">
      <div class="products">
            <div class="row container-new">
              <div class="col-lg-3">
                <div class="category-container">
                  <h3 class="title">
                    <i class="fa fa-bars" aria-hidden="true"></i> Danh mục bài viết
                  </h3>
                  <ul class="category-list">
                    {% if new_cates %}
                    {% for item in new_cates %}
                    <li class="category-item">
                      <a href="" class="category-link">
                        <i
                          class="fa fa-chevron-circle-right"
                          aria-hidden="true"
                        ></i>
                        {{item.name}}
                      </a>
                    </li>
                    {% endfor %}
                    {% endif %}
                  </ul>
                </div>
                <div class="category-container special-new">
                  <h3 class="title">
                    <i class="fa fa-newspaper-o" aria-hidden="true"></i> Bài viết nổi bật
                  </h3>
                  <ul class="category-list">
                    {% if new_specials %}
                    {% for item in new_specials %}
                    <li class="category-item">
                      <a href="{% url 'new-detail' item.id %}" class="category-link">
                        <div class="img">
                          <img src="{{item.avatar.url}}" alt="">
                        </div>
                        <div class="content-text">
                          <h4 class="name">
                            {{item.title}}
                          </h4>
                          <p class="text">
                            {{item.description}}
                          </p>
                        </div>
                      </a>
                    </li>
                    {% endfor %}
                    {% endif %}
                  </ul>
                </div>
                <!-- <div class="category-container tags">
                  <h3 class="title">
                    Các thẻ liên kết
                  </h3>
                  <div class="tag-container">
                    <a href="" class="tag">carmina</a>
                    <a href="" class="tag">Đồ nam</a>
                    <a href="" class="tag">Đồ da</a>
                    <a href="" class="tag">Chọn bộ suit phù hợp</a>
                    <a href="" class="tag">Họa tiết sọc</a>
                    <a href="" class="tag">carmina</a>
                    <a href="" class="tag">Đồ nam</a>
                    <a href="" class="tag">Đồ da</a>
                    <a href="" class="tag">Chọn bộ suit phù hợp</a>
                    <a href="" class="tag">Họa tiết sọc</a>
                    <a href="" class="tag">carmina</a>
                    <a href="" class="tag">Đồ nam</a>
                    <a href="" class="tag">Đồ da</a>
                    <a href="" class="tag">Chọn bộ suit phù hợp</a>
                    <a href="" class="tag">Họa tiết sọc</a>
                    <a href="" class="tag">carmina</a>
                    <a href="" class="tag">Đồ nam</a>
                    <a href="" class="tag">Đồ da</a>
                    <a href="" class="tag">Chọn bộ suit phù hợp</a>
                    <a href="" class="tag">Họa tiết sọc</a>
                    <a href="" class="tag">carmina</a>
                    <a href="" class="tag">Đồ nam</a>
                    <a href="" class="tag">Đồ da</a>
                    <a href="" class="tag">Chọn bộ suit phù hợp</a>
                    <a href="" class="tag">Họa tiết sọc</a>
                    <a href="" class="tag">carmina</a>
                    <a href="" class="tag">Đồ nam</a>
                    <a href="" class="tag">Đồ da</a>
                    <a href="" class="tag">Chọn bộ suit phù hợp</a>
                    <a href="" class="tag">Họa tiết sọc</a>
                  </div>
                </div> -->
              </div>
              <div class="col-lg-9">
                <h2 class="title-list-product">
                  <i class="fa fa-newspaper-o" aria-hidden="true"></i> Tất cả bài viết
                </h2>
                <div class="content">
                  <!-- <div class="new-banner row">
                      <div class="col-lg-8 p-1">
                          <a href="new-deatil.html" class="banner-item">
                              <div class="img">
                                <img src="./img/background1.jpg" alt="">
                              </div>
                              <div class="caption-new">
                                <h4 class="title">
                                  Xe ô tô đẹp nhất 2020
                                </h4>
                                <span class="date">
                                  <i class="fa fa-calendar" aria-hidden="true"></i>
                                  12/3/2021
                                </span>
                              </div>
                          </a>
                      </div>
                      <div class="col-lg-4 p-1">
                        <a href="new-deatil.html" class="banner-item-right">
                            <div class="img">
                              <img src="./img/background1.jpg" alt="">
                            </div>
                            <div class="caption-new">
                              <h4 class="title">
                                Xe ô tô đẹp nhất 2020
                              </h4>
                              <span class="date">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                12/3/2021
                              </span>
                            </div>
                        </a>
                        <a href="new-deatil.html" class="banner-item-right">
                            <div class="img">
                              <img src="./img/background1.jpg" alt="">
                            </div>
                            <div class="caption-new">
                              <h4 class="title">
                                Xe ô tô đẹp nhất 2020
                              </h4>
                              <span class="date">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                12/3/2021
                              </span>
                            </div>
                        </a>
                      </div>
                  </div> -->
                  <div class="new-list">
                    {% if news%}
                    {% for item in news %}
                    <div class="new-item">
                      <div class="img">
                          <img class="card-img-top" src={{item.avatar.url}} alt="">
                      </div>
                      <div class="body-content">
                          <a href="{% url 'new-detail' item.id %}" class="title">{{item.title}}</a>
                          <p class="text">
                            {{item.description}}
                          </p>
                          <span class="date">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            {{item.date|date:"d-m-Y"}}
                          </span>
                          <p class="text-right">
                            <a href="{% url 'new-detail' item.id %}" class="see-more">
                              Xem thêm  &rArr;
                            </a>
                          </p>
                      </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                    
                    
                  </div>
                  <div class="container-pagination">
                    <div class="pagination">
                      {% if news.has_previous %}
                      <a href="?page={{ news.previous_page_number }}">&laquo; Trước</a>
                      {% endif %}
      
                      {% for i in news.paginator.page_range%}
                        {% if  news.number == i %}
                        <a href="?page={{i}}" class="active">{{i}}</a>
                        {% else %}
                        <a href="?page={{i}}">{{i}}</a>
                        {% endif %}
                      
                        {% endfor %} 
      
                      {% if news.has_next %}
                      <a href="?page={{ news.next_page_number }}">Sau &raquo;</a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
      </div>
    </div>
</main>
{% endblock %}
