{% extends 'base/base.html' %} 
{% block content%}
<main class="order">
  <div class="container">
    <div class="container-title-section">
      <h2 class="title-section">Giỏ hàng</h2>
      <hr class="line" />
    </div>
    <div class="content">
      <div class="row">
        <div class="col-lg-9 product-list">
          <table
            class="table table-cart"
            id="dataTable"
            width="100%"
            cellspacing="0"
          >
            <thead>
              <tr>
                <th>Sản phẩm</th>
                <th class="d-none d-md-block">Giá</th>
                <th>Số lượng</th>
                <th class="d-none d-md-block">Thành tiền</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Sản phẩm</th>
                <th class="d-none d-md-block">Giá</th>
                <th>Số lượng</th>
                <th class="d-none d-md-block">Thành tiền</th>
              </tr>
            </tfoot>
            <tbody>
              <tr>
                <td>
                  <div class="product-item">
                    <div class="img">
                      <img src="img/background4.jpg" alt="" />
                    </div>
                    <div class="detail">
                      <h4 class="title">
                        <a class="title" href="">
                          Phụ tùng Thiên Nhẫn - Cung cấp phụ tùng chính hãng
                        </a>
                      </h4>
                      <p class="text">Trắng - 37</p>
                      <a href="" class="delete">Xóa sản phẩm</a>
                    </div>
                  </div>
                </td>
                <td class="d-none d-md-block">3.990.000 đ</td>
                <td>
                  <form class="increases-form">
                    <div
                      class="value-button"
                      id="decrease"
                      onclick="decreaseValue()"
                      value="Decrease Value"
                    >
                      -
                    </div>
                    <input type="number" id="number" value="0" />
                    <div
                      class="value-button"
                      id="increase"
                      onclick="increaseValue()"
                      value="Increase Value"
                    >
                      +
                    </div>
                  </form>
                </td>
                <td class="d-none d-md-block">3.990.000 đ</td>
              </tr>
            </tbody>
          </table>
          <a href="" class="button btn-main d-none d-md-block">
            Tiếp tục mua hàng
          </a>
        </div>
        <div class="col-lg-3">
          <div class="order">
            <div class="total-money">
              <h6>Tạm tính : <b>3.990.000đ</b></h6>
              <hr class="line" />
              <h3 class="title">Thành tiền :</h3>
              <p class="text">3.990.000đ</p>
              <hr class="line" />
              <a href="" class="button btn-main btn-block mb-2">thanh toán</a>
              <a
                href=""
                class="button btn-main-outline btn-block d-block d-md-none"
              >
                Tiếp tục mua hàng
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
