{% extends 'base/base.html' %} 
{% load static %}

{% block content %}
<main class="product-detail">
  <div class="container-fluid">
    <div class="container-detail-product">
      <div class="detail-product">
        <div class="box-overview">
          <div class="box-img-product">
            <div class="container-carousel">
              <div class="carousel-img-product">
                {% if product.avatar %}
                <div class="slide">
                  <a href="{{product.avatar.url}}" data-fancybox>
                    <img src="{{product.avatar.url}}" alt="" />
                  </a>
                </div>
                {% endif %} {% if images %} {% for item in images %}
                <div class="slide">
                  {% if item.image %}
                  <a href="{{item.image.url}}" data-fancybox>
                    <img src="{{item.image.url}}" alt="" />
                  </a>
                  {% endif %}
                </div>
                {% endfor %} {% endif %}
              </div>
              <div class="carousel-img-product-nav">
                {% if product.avatar %}
                <div class="slide">
                  <img src="{{product.avatar.url}}" alt="" />
                </div>
                {% endif %} {% if images %} {% for item in images %} 
                {% if item.image %}
                <div class="slide">
                  <img src="{{item.image.url}}" alt="" />
                </div>
                {% endif %} {% endfor %} {% endif %}
              </div>
            </div>
            <div class="clear-fl"></div>
            <hr class="line" />
          </div>
          <div class="box-order">
            <div class="heading-box">
              <h3 class="title">{{product.name}}</h3>
              <div href="" class="star-review">
                {% with ''|center:product.vote as range %} {% for i in range%}
                <span class="fa fa-star checked"></span>
                {% endfor %} {% endwith %}
              </div>
              <p class="text">{{product.intro}}</p>
            </div>
            <hr class="line" />
            <ul class="property-list">
              <li class="property-item box-price">
                <div class="price">
                  <span class="sale-price">{{product.price}} VNĐ</span>
                </div>
              </li>

              <li class="property-item">
                <p class="title">Tình trạng:</p>
                <div class="content">Còn hàng</div>
              </li>
              <li class="property-item">
                <p class="title">Bảo hành:</p>
                <div class="content">12 tháng</div>
              </li>
              <li class="property-item">
                <p class="title">Sản xuất tại:</p>
                <div class="content">Trung Quốc</div>
              </li>
              <li class="property-item property-select">
                <p class="title">Loại:</p>
                <div class="content">
                  <div class="select-item">Trắng đen - 36</div>
                </div>
              </li>
              <li class="property-item">
                <p class="title">Chọn số lượng:</p>
                <div class="content">
                  <form class="increases-form">
                    <div
                      class="value-button"
                      id="decrease"
                      onclick="decreaseValue()"
                      value="Decrease Value"
                    >
                      -
                    </div>
                    <input type="number" id="number" value="0" />
                    <div
                      class="value-button"
                      id="increase"
                      onclick="increaseValue()"
                      value="Increase Value"
                    >
                      +
                    </div>
                  </form>
                </div>
              </li>
            </ul>
            <div class="container-button">
              <a href="order.html" class="button btn-main-outline">
                mua ngay
              </a>
              <a href="order.html" class="button btn-main"> Thêm vào giỏ </a>
            </div>
          </div>
        </div>
        <div class="box-detail">
          <div class="container-content">
            <h2 class="title">Chi tiết sản phẩm</h2>

            <div class="content">
              <p class="text">{{product.content}}</p>

              <hr class="line" />
            </div>
            <div class="end-tb"></div>
          </div>
          <div class="infor">
            <h2 class="title">Thông tin thêm</h2>
            <p><b>Tie Length</b> : 150 cm</p>
            <p><b>Tie Length</b> : 150 cm</p>
            <p><b>Tie Length</b> : 150 cm</p>
            <p><b>Tie Length</b> : 150 cm</p>
            <p><b>Tie Length</b> : 150 cm</p>
            <p><b>Tie Length</b> : 150 cm</p>
            <p><b>Tie Length</b> : 150 cm</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box-review">
    <div class="container">
      <h2 class="title-reivew">Review</h2>
    </div>
    <div class="tb-product-review">
      <div class="container">
        <div class="row">
          <div class="col-md-4 text-left">
            <h4 class="total-rating">5/5</h4>
            <div class="star-review">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
            <span>(950 lượt đánh giá)</span>
          </div>
          <div class="col-md-4">
            <div href="" class="star-container">
              <div class="bar-item">
                <span class="fa fa-star">5</span>
                <span class="rate-bar">
                  <span class="rate-content" style="width: 70%"></span>
                </span>
                (150)
              </div>
              <div class="bar-item">
                <span class="fa fa-star">4</span>
                <span class="rate-bar">
                  <span class="rate-content" style="width: 0%"></span>
                </span>
                (150)
              </div>
              <div class="bar-item">
                <span class="fa fa-star">3</span>
                <span class="rate-bar">
                  <span class="rate-content" style="width: 20%"></span>
                </span>
                (150)
              </div>
              <div class="bar-item">
                <span class="fa fa-star">2</span>
                <span class="rate-bar">
                  <span class="rate-content" style="width: 10%"></span>
                </span>
                (150)
              </div>
              <div class="bar-item">
                <span class="fa fa-star">1</span>
                <span class="rate-bar">
                  <span class="rate-content" style="width: 0%"></span>
                </span>
                (150)
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <h4 class="title">Đánh giá ngay :</h4>
            <button id="show-comment" class="button btn-main">
              Viết bình luận
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="comment-box container">
      <div class="write-comment">
        <div class="form-group">
          <label for="">Đánh giá</label>
          <div id="full-stars-example-two">
            <div class="rating-group">
              <input
                disabled
                checked
                class="rating__input rating__input--none"
                name="rating3"
                id="rating3-none"
                value="0"
                type="radio"
              />
              <label aria-label="1 star" class="rating__label" for="rating3-1"
                ><i class="rating__icon rating__icon--star fa fa-star"></i
              ></label>
              <input
                class="rating__input"
                name="rating3"
                id="rating3-1"
                value="1"
                type="radio"
              />
              <label aria-label="2 stars" class="rating__label" for="rating3-2"
                ><i class="rating__icon rating__icon--star fa fa-star"></i
              ></label>
              <input
                class="rating__input"
                name="rating3"
                id="rating3-2"
                value="2"
                type="radio"
              />
              <label aria-label="3 stars" class="rating__label" for="rating3-3"
                ><i class="rating__icon rating__icon--star fa fa-star"></i
              ></label>
              <input
                class="rating__input"
                name="rating3"
                id="rating3-3"
                value="3"
                type="radio"
              />
              <label aria-label="4 stars" class="rating__label" for="rating3-4"
                ><i class="rating__icon rating__icon--star fa fa-star"></i
              ></label>
              <input
                class="rating__input"
                name="rating3"
                id="rating3-4"
                value="4"
                type="radio"
              />
              <label aria-label="5 stars" class="rating__label" for="rating3-5"
                ><i class="rating__icon rating__icon--star fa fa-star"></i
              ></label>
              <input
                class="rating__input"
                name="rating3"
                id="rating3-5"
                value="5"
                type="radio"
              />
            </div>
          </div>
          <label for="">Tiêu đề</label>
          <input
            type="text"
            class="form-control"
            name=""
            id=""
            aria-describedby="helpId"
            placeholder=""
          />
          <label for="">Nội dung</label>
          <textarea class="form-control" name="" id="" rows="3"></textarea>
          <div class="container-btn mt-2">
            <button type="submit" class="button btn-main">Gửi</button>
            <button type="button" id="close" class="button btn-main-outline">
              hủy
            </button>
          </div>
        </div>
      </div>
      <div class="comment-list">
        <div class="comment-item row">
          <div class="user col-md-3">
            <h4 class="name">Phạm tiến lực</h4>
          </div>
          <div class="comment col-md-9">
            <div class="star-review">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
            <h4 class="title">Great products. Great service</h4>
            <p class="text">
              Love the Saphire Shoe Care line. Nearly impossible to find .
              Hanger Project has expanded into other areas of clothing care with
              professional quality irons and boards. Scarf and sweater selection
              very nice. Prices are are what you would expect for high quality
              merchandise. Repeat, satisfied customer. Thank you.
            </p>
            <span class="count-like"> 1 person found this helpful </span>
            <div class="container-btn">
              <button class="like">
                thích <i class="fa fa-thumbs-up" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="comment-item row">
          <div class="user col-md-3">
            <h4 class="name">Phạm tiến lực</h4>
          </div>
          <div class="comment col-md-9">
            <div class="star-review">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
            <h4 class="title">Great products. Great service</h4>
            <p class="text">
              Love the Saphire Shoe Care line. Nearly impossible to find .
              Hanger Project has expanded into other areas of clothing care with
              professional quality irons and boards. Scarf and sweater selection
              very nice. Prices are are what you would expect for high quality
              merchandise. Repeat, satisfied customer. Thank you.
            </p>
            <span class="count-like"> 1 person found this helpful </span>
            <div class="container-btn">
              <button class="like">
                thích <i class="fa fa-thumbs-up" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="comment-item row">
          <div class="user col-md-3">
            <h4 class="name">Phạm tiến lực</h4>
          </div>
          <div class="comment col-md-9">
            <div class="star-review">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
            <h4 class="title">Great products. Great service</h4>
            <p class="text">
              Love the Saphire Shoe Care line. Nearly impossible to find .
              Hanger Project has expanded into other areas of clothing care with
              professional quality irons and boards. Scarf and sweater selection
              very nice. Prices are are what you would expect for high quality
              merchandise. Repeat, satisfied customer. Thank you.
            </p>
            <span class="count-like"> 1 person found this helpful </span>
            <div class="container-btn">
              <button class="like">
                thích <i class="fa fa-thumbs-up" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-list-product">
    <div class="container">
      <h3 class="title-section">Sản phẩm liên quan</h3>
      <div class="carousel-product-hot">
        {% if related_products %} {% for item in related_products %}
        <div class="slide">
          <div class="product-item">
            <a href="{% url 'product-detail' item.id%}" class="card">
              <div class="img">
                <img
                  class="card-img-top"
                  src="{% static 'img/background3.jpg' %}"
                  alt=""
                />
              </div>
              <div class="card-body">
                <h4 class="card-title">{{item.name}}</h4>
                <p class="card-text">Giá : {{item.price}} đ</p>
                <div href="" class="star-review">
                  {% with ''|center:item.vote as range %} {% for i in range%}
                  <span class="fa fa-star checked"></span>
                  {% endfor %} {% endwith %}
                </div>
              </div>
              <div class="text-center mb-2">
                <button href="" class="button btn-main">
                  Thêm vào giỏ hàng
                </button>
              </div>
            </a>
          </div>
        </div>
        {% endfor %} {% endif %}
      </div>
    </div>
  </div>
</main>
{% endblock %}
